<body class="min-h-screen flex flex-col">
  <main class="flex-grow">
   
  </main>

  
  <footer class="flex flex-wrap justify-between items-center px-4 py-6 border-t text-sm text-white bg-[rgb(19,19,22)]">
    
    <div class="flex flex-wrap items-center gap-4">
      <span>© 2025 Urban Haven Housing, Inc.</span>
      <a href="#" class="hover:underline">Privacy</a>
      <a href="#" class="hover:underline">Terms</a>
      <a href="#" class="hover:underline">Sitemap</a>
      <a href="#" class="hover:underline">Company details</a>
    </div>

    
    <div class="flex items-center gap-4 mt-4 sm:mt-0">
      <a href="" class="flex items-center gap-1">
        <span class="text-lg">🌐</span> English (KE)
      </a>
      <a href="">KES Kenyan Shilling</a>
      <a target="_blank" href="https://www.facebook.com/mithanshu.hedau" class="hover:text-gray-900"><i class="fab fa-facebook-f"></i></a>
      <a target="_blank" href="https://x.com/HedauMithanshu" class="hover:text-gray-900"><i class="fab fa-x-twitter"></i></a>
      <a target="_blank" href="https://www.instagram.com/mithanshuhedau/?igsh=MWlhbWQ0emdkYzJxcg%3D%3D#" class="hover:text-gray-900"><i class="fab fa-instagram"></i></a>
    </div>
  </footer>
</body>
